{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home|</a>
                    <a href="{% url 'store' %}">All Products|</a></li>
                    <a href="{% url 'cart' %}">Cart|</a></li>
                    <!-- <a href="#"></a> -->
                    <span>{{ single_product.product_name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<section class="section-content padding-y bg">
    {% include 'alert.html' %}
    <div class="container">
        <div class="row">    
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="title mb-4" >Add New Address</h4>
                        <form action="{% url 'add_address' %}" method="POST" enctype="multipart/form-data" class="needs-validation">
                        {% csrf_token %}
                            
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">Address Line 1</label>
                                    <input type="text" name="address_line_1" class="form-control" required>
                                </div>
                                
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">City</label>
                                    <input type="text" name="city" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">State</label>
                                    <input type="text" name="state" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Country</label>
                                    <input type="text" name="country" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Pincode</label>
                                    <input type="number" name="pincode" class="form-control" required>
                                </div>
                            </div>
                            
                            </div>
                            <!-- Move the submit button inside the form -->
                            <button type="submit" name="submit" class="btn btn-primary btn-block">Add Address</button>
                        </form>
                    </div>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
            
           
        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
