{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Address List</h1>
    <form action="{% url 'select_delivery_address' %}" method="post">
        {% csrf_token %}
        <ul>
            {% for address in addresses %}
                <li class="address-item">
                    <input type="radio" id="address{{ address.id }}" name="delivery_address" value="{{ address.id }}" class="delivery-address-option">
                    <label for="address{{ address.id }}">
                        <p><strong>Name:</strong> {{ address.first_name }} {{ address.last_name }}</p>
                        <p><strong>Email:</strong> {{ address.email }}</p>
                        <p><strong>Phone:</strong> {{ address.phone_number }}</p>
                        <p><strong>Address:</strong> {{ address.address_line1 }}, {{ address.address_line2 }}, {{ address.city }}, {{ address.state }}, {{ address.country }}</p>
                    </label>
                    <a href="{% url 'edit_address' address.id %}">Edit</a>
                    <a href="{% url 'delete_address' address.id %}">Delete</a>
                </li>
            {% empty %}
                <li>No addresses found.</li>
            {% endfor %}
        </ul>
        <button type="submit">Select Delivery Address</button>
    </form>
    <a href="{% url 'add_address' %}" class="add-address-link">Add New Address</a>
</div>

{% endblock %}