{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-option">
    <!-- Breadcrumb content -->
</div>
<!-- Breadcrumb End -->
{% include 'alert.html' %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">    
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="title mb-4">Edit Address</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ address_form.non_field_errors }}

                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">Address Line 1</label>
                                    <input type="text" name="address_line_1" class="form-control" value="{{ form.instance.address_line_1 }}" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">City</label>
                                    <input type="text" name="city" class="form-control" value="{{ form.instance.city }}" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">State</label>
                                    <input type="text" name="state" class="form-control" value="{{ form.instance.state }}" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Country</label>
                                    <input type="text" name="country" class="form-control" value="{{ form.instance.country }}" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Pincode</label>
                                    <input type="number" name="pincode" class="form-control" value="{{ form.instance.pincode }}" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Address</button>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
{% endblock %}
