{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
{% load socialaccount %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
          <div class="card-body">
            {% include 'alert.html' %}
          <h4 class="card-title mb-4">Find Your Account</h4>
          <form action="{% url 'forgotpassword' %}" method="POST">
            {% csrf_token %}
            <div>
              <h6>Please enter your email address to search for your acount.</h6>
            </div>
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address" name="email" autocomplete="off">
              </div> <!-- form-group// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Search  </button>
              </div> <!-- form-group// -->    
          </form>
          <div class="form-group">
            <a href="{% url 'login' %}" class="float-right">Got password? Login</a> 
          
          </div>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}