{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'alert.html' %}
    <div class="container">
        <div class="row">
            {% include 'dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <h2 class="d-inline-block">Profile</h2>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 text-center">
                            {% if user_profile.profile_picture %}
                                <img src="{{ user_profile.profile_picture.url }}" alt="Profile picture" width="50" height="50" style="border-radius: 50%;">
                            {% endif %}
                                <p>{{ user.username }}</p>
                            </div>
                            <div class="col-md-8">
                                <div class="mb-3">
                                    <strong>First Name:</strong> {{ user.first_name}}
                                </div>
                                <div class="mb-3">
                                    <strong>Last Name:</strong> {{ user.last_name}}
                                </div>
                                
                                <div class="mb-3">
                                    <strong>Phone Number:</strong> {{ user.phone_number}}
                                </div>
                                
                                <div class="mb-3">
                                    <strong>Email:</strong> {{ user.email }}
                                </div>
                                <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-primary ml-2">Edit</a>
                            </div>
                        </div>
                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->

                <article class="card">
                    <header class="card-header">
                        <h2 class="d-inline-block">Address Details</h2>
                    </header>
                    <div class="card-body">
                        {% if address %}
                        <ul>
                            {% for add in address %}
                            <li>
                                <div class="row align-items-center">
                                    <div class="col">
                                
                                        <strong>Address:</strong> {{ add.address_line_1 }} <br>
                                        <strong>City:</strong> {{ add.city }} <br>
                                        <strong>State:</strong> {{ add.state }} <br>
                                        <strong>Country:</strong> {{ add.country }} <br>
                                        <strong>Country:</strong> {{ add.pincode }} <br>
                                    </div>
                                    <br>
                                    <div class="col-auto">
                                        <form method="post" action="{% url 'edit_address' address_id=add.id %}">
                                    
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-secondary">Edit</button>
                                        </form>
                                    </div>
                                
                                    <div> 
                                        <form method="post" action="{% url 'delete_address' address_id=add.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No addresses found.</p>
                        {% endif %}
                    </div>
                    <div class="mt-3 pl-3" style="display: inline-block;">
                        <a href="{% url 'add_address'  %}" class="btn btn-primary">Add Address</a>
                    </div>
                    <!-- Checkout button -->
                    <div class="text-center">
                        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
                    </div>
                </article>
                
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
