{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home|</a>
                    <a href="{% url 'store' %}">All Products|</a></li>
                    <a href="{% url 'cart' %}">Cart|</a></li>
                    <!-- <a href="#"></a> -->
                    <span>{{ single_product.product_name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<section class="section-content padding-y bg">
    <div class="container">
        <form action="{% url 'place_order' %}" class="checkout__form" method="post">
        {% csrf_token %}

        <div class="row">    
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        
                        <h4 class="title mb-4" >Choose Billing Address</h4>
                        <form action="{% url 'place_order' %}" method="POST" >
                            {% csrf_token %}
                            {% if billing_address %}
                            <u>
                                <select name="selected_address" class="form-control">
                                    <option value="">Select Address</option>
                                    {% for address in billing_address %}
                                        <option value="{{address.id}}">{{address.address_line_1}},{{address.city}},{{address.state}},{{address.country}}</option>
                                    {% endfor %} 
                                </select>
                            </u>
                            {% else %}
                            <p>Address not found....</p>
                            {% endif %}
                            <div class="mt-3 pt-5" style="display: inline-block;">
                                <a href="{% url 'add_address' %}" class="btn btn-primary">Add Address</a>
                            </div>
                        </form>
                        <div class="mt-5">
                            <div class="form-group mt-3 ">
                                <label for="coupon_code">Enter Coupon Code:</label>
                                <input type="text" class="form-control" id="coupon_code_input" name="coupon_code">
                            </div>
    
                        </div>
                    </div>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.product_images.first.image.url }}" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                <p class="text-muted small">
                                                    {% if cart_item.variations.all %}
                                                        {% for item in cart_item.variations.all %}
                                                            {{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst }} <br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{ cart_item.quantity }}</label>
                                    </td>
                                    
                                    <td> 
                                        <div class="price-wrap"> 
                                            <var class="price">${{ cart_item.sub_total }}</var> 
                                            <small class="text-muted"> ${{ cart_item.product.price }} each</small> 
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        <!-- Remove the button from here -->
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
