{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://unpkg.com/medium-zoom/dist/medium-zoom.min.js"></script>
<section class="section-content padding-y bg">
    <div class="container">
        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__links">
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                            <span class="mx-2">|</span>
                            <a href="{% url 'store' %}">All Products</a>
                            <span class="mx-2">|</span>
                            <span>{{ single_product.product_name }}</span>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <div class="container mt-5">
            <div class="row">
                <!-- Image Gallery Section -->
                <div class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img class="img-fluid magnify" src="{{ single_product.product_images.first.image.url }}"></a>
                        </div> <!-- img-big-wrap.// -->
                        <div class="product-images mt-3">
                            <div class="row">
                                {% for image in single_product.product_images.all %}
                                    {% if not forloop.first %} <!-- Exclude the first image -->
                                        <div class="col-3">
                                            <img src="{{ image.image.url }}" alt="{{ single_product.product_name }}" class="img-fluid small-image">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- product-images.// -->

                <!-- Product Details Section -->
                <div class="col-md-6">
                    <div class="product-details">
                        <h2 class="title">{{ single_product.product_name }}</h2>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star {% if single_product.averagereview < 0.5  %}-o{% elif single_product.averagereview >= 0.5 and single_product.averagereview < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if single_product.averagereview < 1.5  %}-o{% elif single_product.averagereview >= 1.5 and single_product.averagereview < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if single_product.averagereview < 2.5  %}-o{% elif single_product.averagereview >= 2.5 and single_product.averagereview < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if single_product.averagereview < 3.5  %}-o{% elif single_product.averagereview >= 1.5 and single_product.averagereview < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if single_product.averagereview < 4.5  %}-o{% elif single_product.averagereview >= 1.5 and single_product.averagereview < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <span>{{single_product.countreview|floatformat:0}}   Reviews</span>
                            </span>
                        </div>
                        
                        <p class="text-muted">{{ single_product.description }}</p>
                        <div class="mb-3">
                            <h4 class="price">Rs.{{ disc_price|floatformat:2 }}</h4>
                            {% if highest_offer %}
                                <p><span class="badge badge-success">{{ highest_offer.discount_percentage }}% off</span></p>
                                <p>Base Price: <del>Rs.{{ single_product.price }}</del></p>
                            {% else %}
                                <p>No offers available</p>
                            {% endif %}
                        </div>
                        <form action="{% url 'add_cart' single_product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="color">Choose Color</label>
                                <select name="color" class="form-control" required>
                                    <option value="" disabled selected>Select</option>
                                    {% for color in color_variations %}
                                        <option value="{{ color.variation_value | lower }}">{{ color.variation_value | capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="size">Select Size</label>
                                <select name="size" class="form-control">
                                    <option value="" disabled selected>Select</option>
                                    {% for size in size_variations %}
                                        <option value="{{ size.variation_value | lower }}">{{ size.variation_value | capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                {% if total_variation_stock > 0 %}
                                    <h6 class="text-warning">{{ total_variation_stock }} stocks are available in variations!</h6>
                                    <button type="submit" class="btn btn-primary btn-block">Add to Cart <i class="fas fa-shopping-cart"></i></button>
                                {% else %}
                                    <h6 class="text-danger">Out Of Stock</h6>
                                {% endif %}
                            </div>
                            
                        </form>
                        <form action="{% url 'add_wishlist' product_slug=single_product.slug %}" method="post" class="mt-3">
                            {% csrf_token %}
                            {% if in_wishlist %}
                                <button type="button" class="btn btn-outline-success wshbtn disabled btn-block">
                                    Wishlisted <i class="fa fa-heart"></i>
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-outline-success wshbtn btn-block">
                                    Wishlist <i class="fa fa-heart"></i>
                                </button>
                            {% endif %}
                        </form>
                            <br><br>
                            <div class="mb-3">
                                <p>100% Original Products</p>
                                <p>Pay on Delivery might be available</p>
                            </div>
                            <div class="mb-3">
                                <h3>BEST OFFERS</h3>
                                <p>Product offers:</p>
                                <ul id="product-offers">
                                    {% if single_product.offer %}
                                        <li> {{ single_product.offer.discount_percentage }}% off (Your total savings Rs.{{product_discount_amount|floatformat:0}})</li>
                                    {% else %}
                                        <li>No product-specific offers available.</li>
                                    {% endif %}
                                </ul>
                                <p>Category offers:</p>
                                <ul id="category-offers">
                                    {% if single_product.category.offer %}
                                        <li> {{ single_product.category.offer.discount_percentage  }}% off (Your total savings Rs.{{category_discount_amount}})</li>
                                    {% else %}
                                        <li>No category-specific offers available.</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div> <!-- product-details.// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br>

        <div class="row">
            <div class="col-md-12">
                
                <form action="{% url 'submit_review' single_product.id %}" method="POST">
                    {% csrf_token %}
                    <br>
                    <h5>Write your Review</h5>

                    <div>
                        <!--rating stars-->
                        <label>How do you rate this product?</label>
                        <br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required><label for="rating14" title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                        </div>
                        Review Title:
                        <input type="text" class="form-control" name="subject">
                        <br>
                        Review:
                        <textarea name="review" rows="4" class="form-control"></textarea>
                        <br>
                        {% if user.is_authenticated %}
                            {% if orderproduct %}
                                <input type="submit" value="Submit Review" class="btn btn-primary">
                            {% else %}
                                <p>You must purchase this product to post a review </p>
                            {% endif %}
                        {% else %}
                            <p>You must be logged in to post a review <span><a href="{% url 'login' %}">Login Now</a></span></p>
                        {% endif %}
                        
                    </div>
        {% include 'alert.html' %}
                    
                </form>
        <br>
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            <div class="rating-star">
                <span>
                    <i class="fa fa-star {% if single_product.averagereview < 0.5  %}-o{% elif single_product.averagereview >= 0.5 and single_product.averagereview < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star {% if single_product.averagereview < 1.5  %}-o{% elif single_product.averagereview >= 1.5 and single_product.averagereview < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star {% if single_product.averagereview < 2.5  %}-o{% elif single_product.averagereview >= 2.5 and single_product.averagereview < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star {% if single_product.averagereview < 3.5  %}-o{% elif single_product.averagereview >= 1.5 and single_product.averagereview < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star {% if single_product.averagereview < 4.5  %}-o{% elif single_product.averagereview >= 1.5 and single_product.averagereview < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                    <span>{{single_product.countreview|floatformat:0}}   Reviews</span>
                </span>
            </div>
         </header>
        {% for review in reviews %}
               
            <article class="box mb-3">
                <div class="icontext w-100">
                    <img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                    <div class="text">
                        <span class="date text-muted float-md-right">{{review.updated_at}}</span>  
                        <h6 class="mb-1">{{review.user.first_name}} </h6>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star {% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star {% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o{% endif %}" aria-hidden="true"></i>
                            </span>
                        </div>
                     </div>
                </div> <!-- icontext.// -->
                    <div class="mt-3">
                        {{review.subject}}
                        <p>
                            {{review.review}}
                        </p>   
                    </div>
                </article>
                {% endfor %}
           

    
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    <!-- Initialize medium-zoom for images -->
    <script>
    mediumZoom('.magnify', {
        margin: 0,
        background: '#000',
        scrollOffset: 40,
        container: null,
        template: null,
    });
    
    mediumZoom('.small-image', {
        margin: 0,
        background: '#000',
        scrollOffset: 40,
        container: null,
        template: null,
    });
    document.addEventListener('DOMContentLoaded', function() {
    const stars = document.querySelectorAll('.rate input');
    const starLabels = document.querySelectorAll('.rate label');

    stars.forEach((star, index) => {
        star.addEventListener('change', function() {
            // Perform actions based on the selected star (index + 0.5 for half stars)
            console.log('Selected rating:', star.value);
        });

        starLabels[index].addEventListener('mouseenter', function() {
            highlightStars(index);
        });

        starLabels[index].addEventListener('mouseleave', function() {
            removeHighlight();
        });
    });

    function highlightStars(index) {
        for (let i = 0; i <= index; i++) {
            starLabels[i].classList.add('hover');
        }
    }

    function removeHighlight() {
        starLabels.forEach(label => {
            label.classList.remove('hover');
        });
    }
});

    </script>
    
{% endblock %}
    
