{% extends 'customadmin/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .product-link,
        .category-link {
            color: #007bff;
            text-decoration: none;
        }
        .product-link:hover,
        .category-link:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Sales Chart ({{ filter_period.capitalize }})</h1>
    <form id="filter-form" action="{% url 'admin_view' %}" method="get">
        <label for="period">Select Period:</label>
        <select name="period" id="period" onchange="this.form.submit()">
            <option value="weekly" {% if filter_period == 'weekly' %} selected {% endif %}>Weekly</option>
            <option value="monthly" {% if filter_period == 'monthly' %} selected {% endif %}>Monthly</option>
            <option value="yearly" {% if filter_period == 'yearly' %} selected {% endif %}>Yearly</option>
        </select>
        <input type="submit" style="display: none;">
    </form>
    <canvas id="salesChart"></canvas>

    <h2>Number of Orders</h2>
    <canvas id="ordersChart"></canvas>

    <h2>Top Selling Products</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Total Quantity Sold</th>
                    <th scope="col">Product Image</th>
                </tr>
            </thead>
            <tbody>
                {% for product in best_selling_products %}
                <tr>
                    <td><a href="{% url 'product_detailad' product.id %}" class="product-link">{{ product.product_name }}</a></td>
                    <td>{{ product.total_quantity_sold }}</td>
                    <td><img src="{{ product.product_images.first.image.url }}" alt="{{ product.product_name }}" width="50" height="50"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Top Selling Categories</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col">Total Quantity Sold</th>
                </tr>
            </thead>
            <tbody>
                {% for category in best_selling_categories %}
                <tr>
                    <td><a href="{% url 'category_detailad' category.id %}" class="category-link">{{ category.category_name }}</a></td>
                    <td>{{ category.total_quantity_sold }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const salesChartData = JSON.parse('{{ chart_data|safe }}');
            const ordersChartData = JSON.parse('{{ orders_chart_data|safe }}');

            const ctx1 = document.getElementById('salesChart').getContext('2d');
            const salesChart = new Chart(ctx1, {
                type: 'line',
                data: {
                    labels: salesChartData.labels,
                    datasets: [{
                        label: 'Total Sales',
                        data: salesChartData.data,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Total Sales'
                            }
                        }
                    }
                }
            });

            const ctx2 = document.getElementById('ordersChart').getContext('2d');
            const ordersChart = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: ordersChartData.labels,
                    datasets: [{
                        label: 'Number of Orders',
                        data: ordersChartData.data,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Number of Orders'
                            }
                        }
                    }
                }
            });
        })
    </script>
</body>
</html>
{% endblock %}