{% extends 'customadmin/base.html' %}

{% block content %}
  <h2 class="mb-4">Edit Coupon - {{ coupon.code }}</h2>
  <div class="table-responsive">
    <form method="post" action="{% url 'edit_coupon' coupon.id %}">
      {% csrf_token %}
      <table class="table table-bordered">
        <tbody>
          {% for field in form %}
            <tr>
              <td>{{ field.label_tag }}</td>
              <td>{{ field }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Update Coupon</button>
    </form>
  </div>
  <a href="{% url 'coupons' %}" class="btn btn-secondary mt-3">Back to Coupon List</a>
{% endblock %}