{% extends 'customadmin/base.html'%}
{% block title %}Products{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2>Products</h2>
            <a href="{% url 'add_product' %}"><button> Add products</button></a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">is_available</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in product_list %}
                       
                        <tr>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{% if product.stock > 0 %}
                                {{ product.stock }}
                            {% else %}
                                Out of stock
                            {% endif %}</td>
                            <td>{{ product.is_available }}</td>

                            
                        <td>
                            <!-- Add edit and delete actions -->

                            <form action="{% url 'edit_product' product.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Edit</button>
                            </form>
                            <form action="{% url 'delete_product' product.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Unlist</button>
                            </form>
                        </td>
                        
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
